<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <img src="/images/adorable-animal-animal-world-209037.jpg">
    <img src="/images/adorable-animal-blur-326875.jpg">
    <img src="/images/animal-animal-photography-cat-57416.jpg">
    <img src="/images/animal-cat-face-close-up-416160.jpg">
    <p><a href="/">home</a></p>
</body>
</html>