<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <img src="/images/asphalt-auto-automobile-170811.jpg">
    <img src="/images/automobile-automotive-car-358070.jpg">
    <img src="/images/automobile-bmw-car-707046.jpg">
    <img src="/images/automobile-cars-headlights-120049.jpg">
    <p><a href="/cars/new">new car</a></p>
    <p><a href="/">home</a></p>
</body>
</html>